# 0.0 Imports

In [8]:
import docutils.transforms.peps
import geopandas
import streamlit as st
import pandas as pd
import numpy as np
import folium
import plotly.express as px

from streamlit_folium  import folium_static
from folium.plugins    import MarkerCluster
from datetime import datetime, time

# 0.1 Helper Functions

# 0.2 Loading Data

In [13]:
df_raw = pd.read_csv(r"C:\Users\ferki\repos\project_house_rocket\data\kc_house_data.csv", low_memory=False )

# 1.0 Data Description

In [14]:
df1 = df_raw.copy()

## 1.2 Data Dimensions

In [15]:
print( 'Number of Rows: {}'.format( df1.shape[0] ) )
print( 'Number of Cols: {}'.format( df1.shape[1] ) )

Number of Rows: 21613
Number of Cols: 21

## 1.3 Data Types

In [16]:
df1['date'] = pd.to_datetime( df1['date'] )
df1.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above              float64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

## 1.4 Check NA

In [17]:
df1.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       2
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

## 1.5 Fillout NA

In [19]:
df1.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       2
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

## 1.6 Descriptive Statistical

In [20]:
num_attributes = df1.select_dtypes( include=['int', 'float'] )
cat_attributes = df1.select_dtypes( exclude=['int', 'float', 'datetime64[ns]'] )

### 1.7.1 Numerical Attributes

In [22]:
# Central Tendency - mean, median
ct1 = pd.DataFrame( num_attributes.apply( np.mean ) ).T
ct2 = pd.DataFrame( num_attributes.apply( np.median ) ).T

# Dispersion - std, min, max, range, skew, kurtosis
d1 = pd.DataFrame( num_attributes.apply( np.std ) ).T
d2 = pd.DataFrame( num_attributes.apply( min ) ).T
d3 = pd.DataFrame( num_attributes.apply( max ) ).T
d4 = pd.DataFrame( num_attributes.apply( lambda x: x.max() - x.min() ) ).T
d5 = pd.DataFrame( num_attributes.apply( lambda x: x.skew() ) ).T
d6 = pd.DataFrame( num_attributes.apply( lambda x: x.kurtosis() ) ).T

# Concatenete
m = pd.concat( [d2, d3, d4, ct1, ct2, d1, d5, d6] ).T.reset_index()
m.columns = ['attributes', 'min', 'max', 'range', 'mean', 'median', 'std', 'skew', 'kurtosis']

m

,attributes,min,max,range,mean,median,std,skew,kurtosis
0,id,1.000102e+06,9.900000e+09,9.899000e+09,4.580302e+09,3.904930e+09,2.876499e+09,0.243329,-1.260542
1,price,7.500000e+04,7.700000e+06,7.625000e+06,5.400881e+05,4.500000e+05,3.671187e+05,4.024069,34.585540
2,bedrooms,0.000000e+00,3.300000e+01,3.300000e+01,3.370842e+00,3.000000e+00,9.300403e-01,1.974300,49.063653
3,bathrooms,0.000000e+00,8.000000e+00,8.000000e+00,2.114757e+00,2.250000e+00,7.701453e-01,0.511108,1.279902
4,sqft_living,2.900000e+02,1.354000e+04,1.325000e+04,2.079900e+03,1.910000e+03,9.184196e+02,1.471555,5.243093
5,sqft_lot,5.200000e+02,1.651359e+06,1.650839e+06,1.510697e+04,7.618000e+03,4.141955e+04,13.060019,285.077820
6,floors,1.000000e+00,3.500000e+00,2.500000e+00,1.494309e+00,1.500000e+00,5.399764e-01,0.616177,-0.484723
7,waterfront,0.000000e+00,1.000000e+00,1.000000e+00,7.541757e-03,0.000000e+00,8.651520e-02,11.385108,127.632494
8,view,0.000000e+00,4.000000e+00,4.000000e+00,2.343034e-01,0.000000e+00,7.662998e-01,3.395750,10.893022
9,condition,1.000000e+00,5.000000e+00,4.000000e+00,3.409430e+00,3.000000e+00,6.507280e-01,1.032805,0.525764
10,grade,1.000000e+00,1.300000e+01,1.200000e+01,7.656873e+00,7.000000e+00,1.175432e+00,0.771103,1.190932
11,sqft_above,2.900000e+02,9.410000e+03,9.120000e+03,1.788396e+03,NaN,8.281090e+02,1.446584,3.401708
12,sqft_basement,0.000000e+00,4.820000e+03,4.820000e+03,2.915090e+02,0.000000e+00,4.425648e+02,1.577965,2.715574
13,yr_built,1.900000e+03,2.015000e+03,1.150000e+02,1.971005e+03,1.975000e+03,2.937273e+01,-0.469805,-0.657408
14,yr_renovated,0.000000e+00,2.015000e+03,2.015000e+03,8.440226e+01,0.000000e+00,4.016699e+02,4.549493,18.701152
15,zipcode,9.800100e+04,9.819900e+04,1.980000e+02,9.807794e+04,9.806500e+04,5.350379e+01,0.405661,-0.853479
16,lat,4.715590e+01,4.777760e+01,6.217000e-01,4.756005e+01,4.757180e+01,1.385605e-01,-0.485270,-0.676313
17,long,-1.225190e+02,-1.213150e+02,1.204000e+00,-1.222139e+02,-1.222300e+02,1.408251e-01,0.885053,1.049501
18,sqft_living15,3.990000e+02,6.210000e+03,5.811000e+03,1.986552e+03,1.840000e+03,6.853754e+02,1.108181,1.597096
19,sqft_lot15,6.510000e+02,8.712000e+05,8.705490e+05,1.276846e+04,7.620000e+03,2.730355e+04,9.506743,150.763110

In [ ]:
# sns.distplot( df1['column'], kde=False  )

### 1.7.2 Categorical Attributes

In [23]:
cat_attributes.apply( lambda x: x.unique().shape[0] )

Series([], dtype: float64)

# 2.0 Feature Engineering

In [24]:
df2 = df1.copy()

## 2.1 Hypotheses Mind Map

In [ ]:
# Image('img/MindMapHypothesis.png')

## 2.2 Hypotheses Building

### 2.2.1 Hypotheses

### 2.2.2 Hypotheses

### 2.2.3 Hypotheses

## 2.3 Final List of Hypotheses

## 2.4 Feature Engineering

# 3.0 Variable Filtering

## 3.1 Line Filtering

## 3.2 Columns Selection

# 4.0 Exploratory Data Analysis

## 4.1 Univariate Analysis

### 4.1.1 Response Variable

### 4.1.2 Numerical Variable

### 4.1.3 Categorical Variable

## 4.2 Bivariate Analysis

## H1. .......

### Verdade ou Falso e motivo

## H2. .......


### Verdade ou Falso e motivo

# 4.3 Multivariate Analysis